.example-card {
    width: 600px;
    height: 400px;
    position: relative;
    text-align: center;
    top:70px;
    
    right: 00px;
    bottom:300px;
    left: 290px;
  }
  ngb-rating {
    color: #FFC107;
    font-size: 80px;
}