

/*.mat-dialog-content{
overflow: hidden;
}*/
.card-header h4{
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 5px;
}
.card-header{
  position: relative;
  overflow: hidden;
  top: -30px;
  width: 80%;
  height: 20%;
  padding: 25px;
  margin-left: 100px;
  border-radius: 6px;
  background: linear-gradient(60deg, #227fb8,  #227fb8);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px  #227fb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.map-frame {
  border: 2px solid rgb(255, 255, 255);
  
  
  position:absolute;
 top:120px;
  bottom: 100px;
  right: 00px;
  bottom:0px;
  left: 370px;
  height: 330px;
  width: 490px;
}

#map {
  height: 100%;
  width: 100%;
}
.button-row{
  margin-top: -6px;
}
.btn-dialog-close{
  margin-left: 600px;
}



.controles-container  {
  display: block ;
}

.mat-form-field {
  width: 300px;
  height: 80px;
  display:inline-block;
}
.example-radio-group {
  
  display: inline-block;
  flex-direction: row;
 
  align-items: flex-start;
  margin-top: 0px;
}

.example-radio-button {
  margin: 5px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: block;
  align-content: center;
  align-items: center;
  height: 60px;
}
.center {
  display: inline;
  text-align: center;
  
}
.example-margin {
  margin: 0 6px;
}
.example-card {
  max-width: 300px;
}
.example-form {
  
  height: 180px;
}
/* You can add global styles to this file, and also import other style files */
body {
font-family: Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
margin-bottom: 20px;
}

/*****************************************************
Custom styling example bellow.
*****************************************************/

.iti {
display: block !important;
margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-color: #c7cace;
margin-top: -1px;
}

.iti .iti__country-list {
box-shadow: none;
font-size: 14px;
margin-left: 0;
width: 244px;
max-height: 170px;
}

.iti__flag-container.open + input {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

.iti .search-container input {
font-size: 14px;
border-color: #c7cace;
border-radius: 0;
padding: 5px 10px;
}

.iti .search-container input:focus {
outline: none;
}

@media screen and (max-width: 479px) {
.iti .iti__country-list {
  width: 88.3vw;
}
}

ngx-intl-tel-input input {
height: 44px;
margin-bottom: 20px;
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: #c7cace;
border-radius: 4px;
font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
outline: none !important;
border-color: #3498db;
box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
background-color: #e5eaf1;
}

.container{
  height: 100%;
  position: relative;
  z-index: 1;
}

.background {
 // background: url("../../../assets/img/register_bg.jpg") center center;
  background-size: cover;
  background-color: white;
}


.card{
  //padding: 40px 0 30px;
  margin-bottom: 170px;
  margin-left: 100px;
  min-width: 950px;
  max-width: 950px;
  min-height: 500px;
  max-height: 500px;
  height: 600px;
  -webkit-animation-name: card;
  -moz-animation-name: card;
  -o-animation-name: card;
  animation-name: card;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}


@-webkit-keyframes card {
  from {top: -40px;}
  to {top: 0;}
}

@keyframes card {
  from {top: -40px;}
  to {top: 0;}
}

.card h2{
  text-align: center;
}

.feature{
  display: flex;
  /*width: 100%;*/
  flex: 1;
  margin-top: 50px;
}

.feature .icon{
  width: 40px;
}

.feature .icon i{
  font-size: 2.6em;
}

.feature .desc{
  flex: 1;
  margin-left: 10px;
}

.feature .desc p{
  margin-top: 17px;
}

.feature .desc h4{
  margin-top: 8px;
}

.form-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 25px;
}

.form-part .row{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 17px;
}

.form-part .row .mat-input-container{
  width: 100%;
}

.form-part .row i{
  margin-right: 13px;
  position: relative;
  top: 8px;
  color: #555;
}

.form-part .socials{
  margin-top: 40px;
  margin-bottom: 25px;
}

.form-part .row button{
  margin-top: 15px;
}
