<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  


</head>
<body>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row">
      
     
      &nbsp;&nbsp;&nbsp;&nbsp;
          
       
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <div class="card">
              <div class="card-header">
                 <h4>Reset Password</h4>
                
              </div>
             
              
              <div class="card-form">
          <form  #myForm="ngForm">
<p>if you continue we will send message to the email in your profile.<br>Click the link and enter new password in the page that opens </p>
            <div class="form-group">
              <label for="username" class="font-weight-bold">Username </label><br><br><br>
              <input type="text"  class="input--style-2" id="username" placeholder="Username" required minlength="2" #uname="ngModel" [(ngModel)]="form.username" name="username" #name="ngModel">
              <div class="error"   *ngIf="uname.errors"  class="card-panel red accent-1" [hidden]="name.valid || name.pristine" [ngClass] = "'error'">
                <div *ngIf="uname.errors.required">Username est obligatoire</div>
                <div *ngIf="uname.errors.minlength">Minimum 2 lettres</div>
              </div>
            </div>
            

        
            


            <div class="text-center text-lg-start mt-4 pt-2">
              <button class="btn btn--radius btn--green " type="submit">
                <span class="glyphicon glyphicon-ok-circle"></span> Send password reset email 
              </button>
             
            </div>
            


            <!--div class="form-group">
              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
              <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
            </div-->
           
       

          

          

        </form>
              </div></div></div>
              <div class="col-md-9 col-lg-6 col-xl-5" style="margin-left: 300px;">
                <img src="../../assets/for.png"
                  class="img-fluid" alt="Sample image">
              </div>
        </div>
      </div>
    
  </div>
 
</section>
</body>
