
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
<!-- Syncfusion Essential JS 2 Scripts -->
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<div class="container-fluid" >

  <div class="p-t-30">
    <button class="btn btn--green" type="submit" (click)="add()">
      <mat-icon>note_add</mat-icon>{{ 'Research' | translate }}
    </button>

  </div>
  <br>

  <table *ngIf="lang !=='ar-AR'"  mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8" width="1130px" >



    <ng-container matColumnDef="idResearch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">{{ 'ID' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.idResearch}} </td>
    </ng-container>


    <ng-container matColumnDef="DesiredDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by DesiredDate" > {{ 'Desired Date' | translate }} </th>
      <td mat-cell  *matCellDef="let element">

        <div >{{element.desiredDate | date:'dd/MM/yyyy' }} </div></td>

    </ng-container>
    <ng-container matColumnDef="recurrent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by recurrent" >{{ 'recurrent' | translate }} </th>
      <td mat-cell  *matCellDef="let element">

        <div >{{element.recurrent  }} </div></td>

    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="DesiredHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="desiredHour" >{{ 'Desired Hour' | translate }}  </th>
      <td mat-cell *matCellDef="let element">{{element.desiredHour}} </td>
    </ng-container>
    <ng-container matColumnDef="GradeAverage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gradeAverage">{{ 'grade Average' | translate }}   </th>
      <td mat-cell *matCellDef="let element"> {{element.gradeAverage}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="NumberOfMou3ina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nbmo3ina"sortActionDescription="Sort by NumberOfMou3ina"> {{ 'nbmo3ina' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfMou3ina}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="OperationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by operationDate"> {{'Operation Date' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.operationDate | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Status" name="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'status' | translate }}  </th>
      <td mat-cell *matCellDef="let element" >
        <div *ngIf="lang =='en-US'">{{element.statuscode.status_en}}</div>
        <div *ngIf="lang =='ar-AR'">{{element.statuscode.status_ar}}</div>
        <div *ngIf="lang =='fr-FR'">{{element.statuscode.status_fr}}</div>
      </td>
    </ng-container>


    <ng-container matColumnDef="" name="">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header="" sortActionDescription="Sort by number">{{ 'Service Type' | translate }}   </th>
      <td mat-cell *matCellDef="let element of ServiceTypes"  >
        <span >
        <div *ngIf="lang =='en-US'">{{element.label}}</div>
        <div *ngIf="lang =='ar-AR'">{{element.label_ar}}</div>
        <div *ngIf="lang =='fr-FR'">{{element.label_fr}}</div>
       </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="star" stickyEnd >
      <th mat-header-cell *matHeaderCellDef   class="font-weight-bold" style="text-align:center"><mat-icon>build</mat-icon>&nbsp;{{ 'Action' | translate }} </th>
      <td mat-cell *matCellDef="let element" style="text-align:center">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">



          <button mat-menu-item  (click)="detail(element.idResearch)">
            <mat-icon id="icon-green">edit  </mat-icon>
            <span>Résultat</span>
          </button>
          <button mat-menu-item  (click)="edit(element.idResearch)">
            <mat-icon id="icon-green">edit  </mat-icon>
            <span>ServiceType</span>
          </button>

        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div *ngIf="lang =='ar-AR'">
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="1130px" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="idResearch">
        <th mat-header-cell *matHeaderCellDef>{{ 'ID' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.idResearch}} </td>
      </ng-container>
      <ng-container matColumnDef="DesiredDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'Desired Date' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.desiredDate  | date:'MM/dd/yyyy'}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="DesiredHour">
        <th mat-header-cell *matHeaderCellDef>{{ 'Desired Hour' | translate }} </th>
        <td mat-cell *matCellDef="let element">{{element.desiredHour | date:'h:mm' }}</td>
      </ng-container>
      <ng-container matColumnDef="GradeAverage">
        <th mat-header-cell *matHeaderCellDef>{{ 'grade Average' | translate }}   </th>
        <td mat-cell *matCellDef="let element" > {{element.gradeAverage}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="NumberOfMou3ina">
        <th mat-header-cell *matHeaderCellDef> {{ 'nbmo3ina' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfMou3ina}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="OperationDate">
        <th mat-header-cell *matHeaderCellDef> {{'Operation Date' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.operationDate | date:'MM/dd/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="PaymentStatus">
        <th mat-header-cell *matHeaderCellDef>{{ 'payment Status' | translate }}  </th>
        <td mat-cell *matCellDef="let element" >
          <div *ngIf="lang =='en-US'">{{element.statuscode.status_en}}</div>
          <div *ngIf="lang =='ar-AR'">{{element.statuscode.status_ar}}</div>
          <div *ngIf="lang =='fr-FR'">{{element.statuscode.status_fr}}</div>
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container >
        <th mat-header-cell *matHeaderCellDef>{{ 'Service Type' | translate }}   </th>
        <td mat-cell *matCellDef="let element of serviceTypes" >
          <div *ngIf="lang =='en-US'">
            <li>{{element.label}}</li></div>
          <div *ngIf="lang =='ar-AR'">{{element.label_ar}}</div>
          <div *ngIf="lang =='fr-FR'">{{element.label_fr}}</div>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Status" name="Status">
        <th mat-header-cell *matHeaderCellDef >{{ 'status' | translate }}  </th>
        <td mat-cell *matCellDef="let element" >
          <div *ngIf="lang =='en-US'">{{element.statuscode.status_en}}</div>
          <div *ngIf="lang =='ar-AR'">{{element.statuscode.status_ar}}</div>
          <div *ngIf="lang =='fr-FR'">{{element.statuscode.status_fr}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="star" stickyEnd >
        <th mat-header-cell *matHeaderCellDef   class="font-weight-bold" style="text-align:center"><mat-icon>build</mat-icon>&nbsp;{{ 'Action' | translate }} </th>
        <td mat-cell *matCellDef="let element" style="text-align:center">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item  (click)="detail(element.idResearch)">
              <mat-icon id="icon-green" (click)="detail(element.idResearch)">edit</mat-icon>
              <span>{{ 'Resultat' | translate }}</span>
            </button>

            <button mat-menu-item  (click)="detail(element.idResearch)">
              <mat-icon  (click)="detail(element.idResearch)">update</mat-icon>
              <span>Service types</span>
            </button>


          </mat-menu>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsar"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsar;"></tr>
    </table>
  </div>
  <mat-paginator [length]="100"
                 [pageSize]="4"
                 [pageSizeOptions]="[2, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>


