.example-card {
    width: 750px;
    height: 460px;
    position: relative;
    text-align: center;
    top:50px;
    
    right: 00px;
    bottom:300px;
    left: 290px;
  }
.complains{
   
  position: absolute;
  text-align: left;
   
  }
  .img{
    position: absolute;
    top:100px;
    
    right: 80px;
    bottom:300px;
  
  }
  